
<% layout('../adminLayout') %>

<!-- content -->
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/admin/dashboard">
                    <em class="fa fa-home"></em>
                </a></li>
            <li class="active">Orders</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Orders</h2>
        </div>
    </div><!--/.row-->




    <div class="panel panel-container">
        <div class="row">

            <div class="col-xs-6 col-md-3 col-lg-4 no-padding ">
                <a class="content-links" href="/admin/dashboard/neworders">
                    <div class="panel panel-teal panel-widget border-right ">
                        <div class="row no-padding ">
                            <em class="fa fa-xl fa-shopping-cart color-red"></em>

                            <div class="content-d ">New Orders</div>

                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xs-6 col-md-3 col-lg-4 no-padding ">
                <a class="content-links" href="/admin/dashboard/allorders">
                    <div class="panel panel-blue panel-widget border-right">
                        <div class="row no-padding"><i class="fa fa-xl fa-shopping-cart color-blue"></i>

                            <div class="content-d  ">All Orders</div>


                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-md-3 col-lg-4 no-padding  ">
                <a  class="content-links" href="/admin/dashboard/canceledorders">
                    <div class="panel panel-orange panel-widget border-right">
                        <div class="row no-padding"><em class="fa fa-xl fa-shopping-cart color-gray"></em>
                            <div class="content-d  ">canceled Orders</div>


                        </div>
                    </div>
                </a>
            </div>

        </div><!--/.row-->
    </div>

</div>
