
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%=title%></title>

    <!-- Bootstrap core CSS -->
    <link href="http://localhost:4000/static/stylesheets/bootstrab.min.css" rel="stylesheet">



    <link href="http://localhost:4000/static/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="http://localhost:4000/static/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:4000/static/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:4000/static/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" href="http://localhost:4000/static/plugins/themify-icons/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:4000/static/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:4000/static/styles/single_styles.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:4000/static/styles/single_responsive.css">

    <!-- Custom styles for this template -->
    <link href="http://localhost:4000/static/stylesheets/profile.css" rel="stylesheet">
    <link href="http://localhost:4000/static/stylesheets/style.css" rel="stylesheet">

</head>

<body>