
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" type="image/x-icon" href="http://localhost:4000/static/images/logo.png" />

    <title><%=title%></title>

    <!-- Bootstrap core CSS -->
    <link href="http://localhost:4000/static/stylesheets/bootstrab.min.css" rel="stylesheet">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="http://localhost:4000/static/plugins/themify-icons/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:4000/static/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:4000/static/styles/single_styles.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:4000/static/styles/single_responsive.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:4000/static/styles/main.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:4000/static/styles/responsivecart.css">

    <!-- Custom styles for this template -->
    <link href="http://localhost:4000/static/stylesheets/profile.css" rel="stylesheet">
    <link href="http://localhost:4000/static/stylesheets/style.css" rel="stylesheet">

</head>

<body>