<nav class="navbar navbar-expand-md navbar-dark fixed-top main-nav">
    <a class="navbar-brand" href="/"><img src="http://localhost:4000/static/images/logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="color:#0b2e13"><img style="width: 56px;height: 40px;"src="http://localhost:4000/static/images/menu.png"> </span>
    </button>
    <div class="collapse navbar-collapse flex-row justify-content-between cus-collaps "  id="navbarSupportedContent">

        <ul class="navbar-nav w-75 flex-row justify-content-around ">

            <li style="position: relative;">
              <a href="/cart">  <img  class="cart-logo" src="http://localhost:4000/static/images/ch8.png"></a>
                <%if(user){%>
                      <span  class="cart-value"><%=cartItems%></span>
                <%}%>
            </li>
          <li class="" >  <form action="/search" method="get">
                <div class="input-group input-group-lg">
                    <input type="search" class="form-control text-dark border-right-0" placeholder="Search product" name="q">
                    <div class="input-group-append">
                        <button class="btn btn-warning input-group-btn" type="submit"><i class="fas fa-search"></i></button>
                    </div>

                </div>
            </form>

          </li>

        </ul>



        <ul class="navbar-nav w-25 justify-content-around align-items-center">

            <li class="nav-item nav-category dropdown ">
                <a class="nav-link dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-list-ul fa-2x"></i>
                </a>
                <div class="dropdown-menu " aria-labelledby="dropdownMenuLink">
                    <% for(let i = 0; i< Category.length; i++){%>
                        <div class="flex-wrap dropdown-item"><a class="" href="/products/<%= Category[i]._id%>"><%= Category[i].name%></a></div>
                    <%}%>
                </div>
            </li>

            <li class="nav-item dropdown  singin-menu ">
                <% if (!user){ %>
                <a class="nav-link dropdown-toggle" type="link" style="color:#2493CD !important;" id="dropdownMenuButton" data-toggle="dropdown" >
                    Account
                </a>
                <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/signup" style="border-bottom: 1px solid #ccc; "><i class="fas fa-user-plus" ></i>Signup</a>
                    <a class="dropdown-item" href="/login"><i class="fas fa-sign-in-alt"  ></i>Login</a>
                </ul>
                <%}else{%>
                    <a class="nav-link dropdown-toggle" style="color:#2493CD !important;" data-toggle="dropdown" href="#">
                        <%= user.profile.name%>
                    </a>
                    <ul class="dropdown-menu">
                        <a class="dropdown-item" href="/profile">Profile</a>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </ul>
                <%}%>
            </li>


        </ul>


    </div>
</nav>
<main role="main">