<% layout('../layout') %>


<div class="row align-items-center justify-content-center p-5 ">
    <h1>SignUp</h1>
</div>
<div class="row align-items-center justify-content-center flex-column " >
    <%- partial('../component/alert') %>
<form  method="post" action="/signup" class="w-50">
    <div class="form-group">
        <label for="name">Full Name</label>
        <input type="text" class="form-control" name="name" id="name" aria-describedby="emailHelp" placeholder="Enter name">
    </div>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control"  name="email" id="email" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
    </div>
    <div class="row">

    <div class="form-group col-sm-4">
        <label  for="country">Country</label>
        <select class="custom-select form-control" name="country" id="country">
            <option selected>choose</option>
            <option value="مصر">مصر</option>
            <option disabled value="الكويت">الكويت</option>
            <option disabled value="الاردن">الاردن</option>
            <option disabled value="السعوديه">السعوديه</option>
        </select>

    </div>
    <div class="form-group col-sm-4">
        <label  for="state">State</label>
            <select class="custom-select form-control" name="state" id="state">

                <option value="الإسكندرية">الإسكندرية</option>
                <option value="الإسماعيلية">الإسماعيلية</option>
                <option value="البحيرة">البحيرة</option>
                <option value="بورسعيد">بورسعيد</option>
                <option value="الجيزة">الجيزة</option>
                <option value="الدقهلية">الدقهلية</option>
                <option value="دمياط">دمياط</option>
                <option value="السويس">السويس</option>
                <option value="الشرقية">الشرقية</option>
                <option value="الغربية">الغربية</option>
                <option value="الفيوم">الفيوم</option>
                <option  value="القاهرة">القاهرة</option>
                <option value="القليوبية">القليوبية</option>
                <option value="كفر الشيخ">كفر الشيخ</option>
                <option value="المنوفية "> المنوفية</option>
                <option selected>choose</option>
            </select>

    </div>
    <div class="form-group col-sm-4">
        <label for="town">City</label>
        <input type="text" class="form-control" id="town" name="town" placeholder="Town">
    </div>

    </div>

    <div class="form-group ">
        <label for="phone">Phone</label>
        <input type="number" class="form-control" id="phone" name="phone" placeholder="Phone">
    </div>


    <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-warning btn-lg w-50">Submit</button>
    </div>
</form>

</div>
